* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    font-family:  'Helvetica', 'Arial Narrow', sans-serif;
}

body {
    background-color: #333;
    background-image: linear-gradient(
        55deg, 
        blue, 
        green);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body > h2 {
    padding: 0.5rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    gap: 0.5rem;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 80px 0 rgba(85, 127, 173, 0.3);
}

h1, nav {
    flex: 1 1 300px;
    text-align: center;
}

header > nav > ul {
    display: flex;
    justify-content: space-evenly;
}

img {
    height: 32px;
    width: 32px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 90vh;
}

main > img, h2 {
    flex: 1 1 300px;
    width: 100%;
    align-content: center;
}

.conhecimento {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.conhecimento > nav {
    flex: 1 1 400px;
    text-align: center;
}

.conhecimento-java, .conhecimento-node {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.conhecimento-java > li, .conhecimento-node > li {
    flex: 1 1 100px;
    align-content: center;
}

footer {
    min-height: 10vh;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.1)
    );
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 80px 0 rgba(85, 127, 173, 0.3);
}

footer > nav > ul {
    display: flex;
    justify-content: space-around;
    flex: 1 1 100px;
    padding: 0.5rem;
}

footer > h6 {
    padding: 0.5rem;
}